html,
body
{
	margin: 0;
	padding: 0;	
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
	font-family: sans-serif;
}

#subscribe {
	display: none;
	background: rgba(255,255,255,1);
	border-radius: 16px;
	width: 320px;
	height: 320px;
	left: 50%;
	top: 50%;
	box-sizing: border-box;
	margin-left: -160px;
	margin-top: -160px;
	padding: 16px;
	color: black;
	position: absolute;
	z-index: 100;
	font-size: smaller;
}
#subscribe p,
#subscribe h3
{
	margin-top: 4px;
	text-align: center;
}
#subscribe input,
#subscribe textarea
{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;
}

#subscribe textarea
{
	height: 60px;
}

.investors {
	display: none;
}
.jobs {
	display: none;
}
.about {
	display: none;
}
.footer {
	position: absolute;
	left: 4px;
	bottom: 4px;
	z-index: 8;
	color: #444;
	font-size: x-small;
}
.footer a {
	color: #666;
	margin-left: 4px;
}

#git, #searchInput {
	position: absolute;
	left: 50%;
	top: 20px;
	width: 500px;
	margin-left: -290px;
	font-size: 20px;
	z-index: 11;
	border:0;
	height: 32px;
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.5);
}

#directoryInputContainer {
	position: absolute;
	top: 140px;
	left: 10px;
	z-index: 11;
	color: #666;
}

#fileInputContainer {
	position: absolute;
	top: 190px;
	left: 10px;
	z-index: 11;
	color: #666;
}

.no-directory #directoryInputContainer {
	display: none;
}

.no-directory #fileInputContainer {
	top: 140px;
}

.mobile #fileInputContainer,
.mobile #directoryInputContainer
{
	display: none;
}

label {
	display: block;
}

#gitshow {
	position: absolute;
	left: 50%;
	top: 20px;
	width: 80px;
	height: 32px;
	margin-left: 212px;
	box-sizing: border-box;
	font-size: 20px;
	z-index: 11;
	border:0;
}

/*@media (max-width: 600px) {*/
	#gitshow, #searchButton {
		display:none;
	}
	#git, #searchInput {
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		margin-left: 0;
		padding-left: 22px;
		padding-right: 22px;
	}
/*}*/

#git {
	display:none;
	top: 61px;
	transform: translate(-100%, 0);
	transition: 0.5s;
}
#git:focus {
	transform: translate(0, 0);
}
#gitfocus {
	display:none;
	position: absolute;
	top: 61px;
	left: 0px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	color: white;
	opacity: 0.3;
	box-sizing: border-box;
	z-index: 10;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
}
#breadcrumb {
	position: absolute;
	top: 60px;
	left: 0px;
	color: silver;
	box-sizing: border-box;
	z-index: 10;
	font-size: 14px;
	background: rgba(0,0,0,0.9);
	padding: 8px;
	padding-right: 16px;
	border-bottom-right-radius: 4px;
}
#breadcrumb span {
	cursor: pointer;
}
#breadcrumb .separator {
	cursor: default;
	margin-left: 8px;
	margin-right: 8px;
	color: grey;
}
#searchResults {
	position: absolute;
	z-index: 9;
	top: 60px;
	right: 0px;
	list-style: none;
	margin: 0;
	padding: 0;
	bottom: 0px;
	height: auto;
	overflow-y: auto;
	color: black;
	background: white;
	width: 316px;
	transition: 0.2s;
}
#searchResults:empty {
	right: -316px;
}
#searchResults li {
	margin: 0;
	padding: 0;
	padding: 8px;
	border-bottom: 1px solid #ccc;
    width: 300px;
    word-wrap: break-word;
}
#searchResults li > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#searchResults li li {
	padding-left: 16px;
}
#searchResults li > ul .searchTitle {
	font-size: 12px;
	font-weight: normal;
}
#searchResults li > ul .searchFullPath {
	display: none;
}
#searchResults li li:last-child {
	border-bottom: 0;
}
.searchTitle {
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
}
.searchFullPath {
    font-size: 12px;
    font-family: sans-serif;
    color: #aaa;
    text-align: left;
}

#renderCanvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#debug {
	position: absolute;
	left: 10px;
	top: 120px;
	color: white;
	background: black;
	width: 200px;
	z-index: 10;
	/*display: none;*/
}

#authorize-div {
	z-index: 10;
	position: absolute;
	left: 10px;
	top: 10px;
	background: white;
	padding: 10px;
}

#fullscreen {
	position: absolute;
	z-index: 4;
	right: 10px;
	bottom: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white"><path d="M73.143,329.143H0V512h182.857v-73.143H73.143V329.143z M0,182.857h73.143V73.143h109.715V0H0V182.857z M438.857,438.857H329.143V512H512V329.143h-73.143V438.857z M329.143,0v73.143h109.715v109.715H512V0H329.143z"/></svg>') 0 0 / 100% no-repeat;
	transition: 0.5s;
	opacity: 0.3;
}
#fullscreen:hover {
	opacity: 1 !important;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 140px;
	margin-left: -50px;
	margin-top: -40px;
	background: url('data:image/svg+xml;utf8,<svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff"><g fill="none" fill-rule="evenodd"><g transform="translate(1 1)" stroke-width="2"><circle stroke-opacity=".5" cx="18" cy="18" r="18"/><path d="M36 18c0-9.94-8.06-18-18-18"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/></path></g></g></svg>') 28px 14px / 50px no-repeat;
	opacity: 0;
	transition: 0.5s;
	text-align: left;
	text-indent: 108px;
	font-family: 'Proxima Nova', Helvetica Neue, Segoe UI, sans-serif;
	color: white;
	font-size: 52px;
	font-weight: 100;
	-webkit-animation: loader-intro 1s 1 ease-in-out;
	-webkit-animation-fill-mode: both;
	animation: loader-intro 1s 1 ease-in-out;
	animation-fill-mode: both;
	z-index: 3;
	pointer-events: none;
}

.loaded #loader {
	-webkit-animation: loader-outro 0.5s 1 ease-in-out;
	-webkit-animation-fill-mode: both;
	animation: loader-outro 0.5s 1 ease-in-out;
	animation-fill-mode: both;
}

@-webkit-keyframes loader-intro {
	0% {
		opacity: 0;
		background-size: 0px;
		background-position: 53px 39px;
		color: rgba(255,255,255,0);
	}
	50% {
		color: rgba(255,255,255,0);
	}
	100% {
		opacity: 1;
		background-size: 50px;
		background-position: 28px 14px;
		color: rgba(255,255,255,1);
	}
}

@-webkit-keyframes loader-outro {
	0% {
		opacity: 1;
		background-size: 50px;
		background-position: 28px 14px;
	}
	100% {
		opacity: 0;
		background-size: 0px; 
		background-position: 53px 39px;
	}
}

@keyframes loader-intro {
	0% {
		opacity: 0;
		background-size: 0px;
		background-position: 53px 39px;
		color: rgba(255,255,255,0);
	}
	50% {
		color: rgba(255,255,255,0);
	}
	100% {
		opacity: 1;
		background-size: 50px;
		background-position: 28px 14px;
		color: rgba(255,255,255,1);
	}
}

@keyframes loader-outro {
	0% {
		opacity: 1;
		background-size: 50px;
		background-position: 28px 14px;
	}
	100% {
		opacity: 0;
		background-size: 0px; 
		background-position: 53px 39px;
	}
}