/* src/Montaan/Player/Player.module.css */
@import '../../css/partials/variables';
@import '../../css/partials/mixins';

.Player {
	position: absolute;
	top: 94px;
	right: 120px;
	text-align: right;
	z-index: 1000;
	border: 0;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	min-width: 300px;
	margin-right: 10px;
	color: black;

	:global(.form-group) {
		margin-bottom: 0;
	}

	.close {
		position: absolute;
		z-index: 1;
		top: 60px;
		right: 12px;
	}

	iframe {
		border: 0;
	}

	.card {
		position: absolute;
		top: 48px;
		right: 0px;
		width: 500px;
		border: 0;
		box-sizing: border-box;
		padding: 12px;
		padding-top: 12px;
		border-radius: 2px;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
		background: rgba(255, 255, 255, 0.9);
		color: black;
		text-align: left;
		img,
		video,
		audio {
			max-width: 400px;
			max-height: 400px;
		}
		a {
			color: #cdd0ff;
		}

		div {
			display: table-cell;
			vertical-align: middle;
			position: relative;
			left: 50px;
			height: 300px;
			width: 300px;
			box-sizing: border-box;
			padding: 10px 20px;
			border-radius: 2px;
			background: rgba(0, 0, 0, 0.3);
			color: white;
			box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, 0.7);
			border: 1px solid rgba(0, 0, 0, 0.1);
			text-align: center;
		}
	}
}
