/* src/components/RepoSelector/css/style.module.css */
@import '../../../css/partials/variables';
@import '../../../css/partials/mixins';

.RepoSelector {
	position: absolute;
	z-index: 1001;
	top: 10px;
	right: 10px;
	width: 300px;
	text-align: right;

	form {
		background: white;
		padding: 10px;
		text-align: center;
		border-radius: 0px 4px 4px 4px;
	}
}
