# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
built
# don't lint nyc coverage output
coverage

# don't lint random experiments
toys

# don't lint repos
repos

# don't lint frontend build
frontend/build
frontend/built
frontend/public
frontend/node_modules
frontend/templates
frontend/src/sw-epilog.js
