/* src/components/MainApp/css/style.module.css */
@import '../../../css/partials/variables';
@import '../../../css/partials/mixins';

.MainApp {
	/* Placeholder to make the compiler create this class. */
}
