$blue: rgb(71, 119, 223);
$exitButtonWhite: rgb(218, 221, 220);
$exitButtonBlue: rgb(15, 39, 99);
$modalBlue: rgb(1, 36, 100);
$modalLineBlue: rgb(78, 186, 253);
$modalButtonBlue: rgb(0, 149, 255);

$break-mobile: 1024px;
$mobile-width: 750;

$book: sans-serif;
$medium: sans-serif;
$regular: sans-serif;
$bold: sans-serif;

$title: Avenir Next, Segoe UI, Helvetica, sans-serif;
