/* src/components/CommitInfo/css/style.module.css */
@import '../../css/partials/variables';
@import '../../css/partials/mixins';

.CommitInfo {
	position: absolute;

	right: 0px;
	top: 96px;
	bottom: 0px;

	z-index: 7;

	height: auto;

	color: black;
}

.commits50Pct {
    display: block;
    border-bottom: 1px solid lime;
}

.commits80Pct {
    display: block;
    border-bottom: 1px solid orange;
}

.commits95Pct {
    display: block;
    border-bottom: 1px solid red;
}

.showFileCommits {
	position: absolute;
	right: 10px;
	top: 52px;
	z-index: 9;
}

.CommitInfo.hidden > div {
	display: none;
}

.authors {
	position: absolute;
	background: #f8f8f8;

	right: 0px;
	top: 0px;
	bottom: 0px;

	height: auto;
	width: 270px;

	padding: 10px;

	overflow: auto;
	font-size: 10px;
}

.authorList::before {
	display: block;
	content: attr(data-count) " authors";
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

.commitList::before {
	display: block;
	content: attr(data-count) " commits";
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

.authors .author-email:before { content: " <"; }
.authors .author-email:after { content: ">"; }

.authorList div:after { content: " (" attr(data-commit-count) ")"; }

.activeCommits {
	position: absolute;
	background: #fff;

	right: 270px;
	top: 0px;
	bottom: 0px;

	height: auto;
	width: 500px;

	padding: 10px;

	overflow: auto;
	font-size: 10px;
}

.fileView {
	position: absolute;
	background: #f8f8f8;

	z-index: 8;

	left: 0px;
	right: 770px;
	top: 96px;
	bottom: 0px;

	height: auto;
	width: auto;

	padding: 10px;

	overflow: auto;
	font-size: 10px;
}

.diffView {
	position: absolute;
	background: #f8f8f8;

	right: 770px;
	top: 0px;
	bottom: 0px;

	height: auto;
	width: 500px;

	padding: 10px;

	border-top-left-radius: 4px;

	overflow: auto;
	font-size: 10px;

	transition: 0.3s;
}
.diffView:empty { width: 0px; }

.fileView h4 {
	font-size: 10px;
	margin-bottom: 0;
}
.fileView h4 .hash {
	margin-right: 4px;
	color: rgb(8, 111, 143);
}
.fileView h4 .message {
	margin-left: 4px;
}

.fileView h3 {
	font-size: 14px;
	word-wrap: break-word;
	margin-top: 0;
}

.fileView div {
	white-space: pre;
}

.commitList :global(.calendar) {
	margin-bottom: 8px;
}

.commitList div:global(.calendar-year) {
	vertical-align: top;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0;
}

:global(.calendar-year):before {
	content: attr(data-year);
	display: inline-block;
	vertical-align: top;
	width: 30px;
	font-size: 12px;
	font-weight: bold;
	margin-right: 8px;
	position: relative;
	top: -2px;
}

:global(.calendar-year):after {
	content: attr(data-commit-count) " commits, " attr(data-author-count) " authors";
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	margin-left: 8px;
	position: relative;
}

.commitList :global(.calendar-month) {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 20px;
	height: 38px;
	margin-right: 2px;
}

.commitList :global(.calendar-month):after {
	content: attr(data-commit-count);
	position: absolute;
	font-size: 8px;
	color: darkgray;
	bottom: 8px;
}

.commitList :global(.calendar-month):before {
	content: attr(data-author-count);
	position: absolute;
	font-size: 8px;
	color: darkgray;
	bottom: 0px;
}

:global(.calendar-day) {
	position: absolute;

	background: #eee;

	width: 2px;
	height: 2px;
}

:global(.calendar-day[data-day="1"]) { left: 0px; }
:global(.calendar-day[data-day="2"]) { left: 3px; }
:global(.calendar-day[data-day="3"]) { left: 6px; }
:global(.calendar-day[data-day="4"]) { left: 9px; }
:global(.calendar-day[data-day="5"]) { left: 12px; }
:global(.calendar-day[data-day="6"]) { left: 15px; }
:global(.calendar-day[data-day="0"]) { left: 18px; }

:global(.calendar-day[data-week="0"]) { top: 0px; }
:global(.calendar-day[data-week="1"]) { top: 3px; }
:global(.calendar-day[data-week="2"]) { top: 6px; }
:global(.calendar-day[data-week="3"]) { top: 9px; }
:global(.calendar-day[data-week="4"]) { top: 12px; }
:global(.calendar-day[data-week="5"]) { top: 15px; }

:global(.calendar-day:not([data-commit-count="0"])) { background: red; }
:global(.calendar-day[data-commit-count="1"]) { background: #62c43b; }
:global(.calendar-day[data-commit-count="2"]) { background: #d860e6; }

.commitList span,
.diffView span
{
	display: block;
	white-space: pre;
}

.diffView span.commit-message {
	white-space: pre-wrap;
}

.commit-toggle,
.commit-toggle-diffs,
.commit-show-file
{
	font-weight: bold;
	cursor: pointer;
}

.commit-hash, 
.commit-diff
{
	transition: 0.3s;
}

.commitList .commits div:not(.expanded)
{
	cursor: pointer;
	width: 100%;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
}

div:not(.expanded) > .commit-hash, 
div:not(.expanded) > .commit-diff,
div:not(.expanded) > .commit-toggle-diffs
{
	height: 0;
	overflow: hidden;
}

div:not(.expanded) > .commit-message
{
	overflow: hidden;
	font-weight: bold;
	font-size: 12px;
	margin-top: -4px;
	text-overflow: ellipsis;
}

.commitList .commit-date,
.commitList .commit-author,
.diffView .commit-date,
.diffView .commit-author
{
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
}

.commit-toggle:before,
.commit-toggle-diffs:before
{
	content: "+ ";
}

div.expanded > .commit-toggle:before,
div.expanded-diffs > .commit-toggle-diffs:before
{
	content: "- ";
}

.commit-author:before {
	content: "—";
	margin-left: 4px;
	margin-right: 4px;
}

.commit-diff :global(.collapsed) {
	height: 0;
	overflow: hidden;
}
.expanded-diffs .commit-diff :global(.collapsed) {
	height: auto;
	overflow: visible;
}
span.commit-diff > span > span {
	border-bottom: 1px dotted silver;
	margin-bottom: 1px;
}

span.commit-diff {
	margin-top: 10px;
}
.commit-diff :global(.add) {
	background: rgba(158, 255, 179, 0.562);
	color: rgb(0,40,0);
}
.commit-diff :global(.sub) {
	background: rgba(255, 158, 158, 0.562);
	color: rgb(40,00,0);
}
.commit-diff :global(.pos) {
	background: rgba(158, 236, 255, 0.562);
	color: rgb(0, 0, 0);
}
.commit-diff :global(.prev) {
	background: rgba(216, 216, 215, 0.562);
	color: rgb(0, 0, 0);
}
.commit-diff :global(.cur) {
	background: rgba(253, 255, 158, 0.562);
	font-weight: bold;
	color: rgb(0, 0, 0);
}
.commit-diff :global(.diff) {
	margin-top: 8px;
	background: rgba(197, 204, 255, 0.562);
	font-weight: bold;
	color: rgb(0, 0, 0);
}
.commit-diff :global(.index) {
	background: rgba(255, 236, 255, 0.562);
	color: rgb(0, 0, 0);
}

.commitList .commits > div:global(.collapsed),
.authorList :global(.collapsed)
{
	height: 0px;
	overflow: hidden;
}

.authorSort span {
	margin-left: 4px;
	cursor: pointer;
	color: #444;
}
.authorSort span.selected {
	color: black;
	font-weight: 600;
}