.commits50Pct {
    display: block;
    border-bottom: 1px solid lime;
}

.commits80Pct {
    display: block;
    border-bottom: 1px solid orange;
}

.commits95Pct {
    display: block;
    border-bottom: 1px solid red;
}
