body {
	background: white;
	color: black;
}
#breadCrumb {
	color: darkgrey;
	background: rgba(255, 255, 255, 0.9);
}
#breadCrumb ul {
	background: rgba(255, 255, 255, 0.9);
}
.musicDir {
	color: #c9ffa9;
}
.imageDir {
	color: #b1b7f1;
}
.documentDir {
	color: #f0baba;
}
.archiveDir {
	color: #fafafa;
}
.videoDir {
	color: #c4ebf0;
}
.exeDir {
	color: #f8d6d6;
}
.hiddenDir {
	color: #d4d4d4;
}
.unknownDir {
	color: #f0f0f0;
}
.musicFile {
	color: #d3f0d5;
}
.configFile {
	color: #f1f1e0;
}
.legalFile {
	color: #d9f3e1;
}
.imageFile {
	color: #d8d7e4;
}
.headerFile {
	color: #eff8ff;
}
.documentFile {
	color: #f5f5ff;
}
.archiveFile {
	color: #ffffff;
}
.exeFile {
	color: #fdc5c5;
}
.objectFile {
	color: #fae3e3;
}
.videoFile {
	color: #cbebeb;
}
.hiddenFile {
	color: #d4d4d4;
}
.unknownFile {
	color: #ffffff;
}

.actionMFile {
	color: #ff3300;
}
.actionAFile {
	color: #99ff00;
}
.actionDFile {
	color: #000000;
}
.actionRFile {
	color: #ffcc00;
}
.actionCFile {
	color: #44aaff;
}

.actionMDir {
	color: #ff3300;
}
.actionADir {
	color: #99ff00;
}
.actionDDir {
	color: #000000;
}
.actionRDir {
	color: #ffcc00;
}
.actionCDir {
	color: #44aaff;
}
