.help-overlay > * {
    position: fixed;
    z-index: 10001;
    pointer-events: none;

    width: 160px;

    padding: 10px;
    margin-top: -70px;
    margin-left: 98px;

    background: white;
    color: #444;
    border-radius: 4px;
    border: 1px solid #ddd;
    border-bottom-width: 3px;

    font-family: Avenir Next, Segoe UI, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;

    opacity: 0;
    transition: 0.25s opacity;
}

.help-overlay > .visible {
    transition: 0.25s 0.25s opacity;
    opacity: 1;
}

.help-overlay > *:after {
    content: '';
    position: absolute;

    left: 50%;
    bottom: -6px;
    width: 10px;
    height: 10px;

    margin-left: -5px;

    background: white;
    color: #444;
    border-left: 2px solid #d84040;
    border-bottom: 2px solid #d84040;

    transform: rotate(-45deg);
}

.help-overlay > .help-menu
 {
    width: 104px;
    margin-left: -125px;
    margin-top: 5px;    
}

.help-overlay > .help-menu:after {
    left: auto;
    right: -6px;
    top: 50%;
    transform: rotate(-135deg);
    margin-top: -5px;    
}
