body {
    background: white;
    color: black;
}
.musicDir { color: #c9ffa9; }
.imageDir { color: #b1b7f1; }
.documentDir { color: #f0baba; }
.archiveDir { color: #fafafa; }
.videoDir { color: #c4ebf0; }
.exeDir { color: #f8d6d6; }
.hiddenDir { color: #d4d4d4; }
.unknownDir { color: #f0f0f0; }
.musicFile { color: #d3f0d5; }
.configFile { color: #f1f1e0; }
.legalFile { color: #d9f3e1; }
.imageFile { color: #d8d7e4; }
.headerFile { color: #d0d9f7; }
.documentFile { color: #f5f5ff; }
.archiveFile { color: #ffffff; }
.exeFile { color: #fdc5c5; }
.objectFile { color: #fae3e3; }
.videoFile { color: #cbebeb; }
.hiddenFile { color: #d4d4d4; }
.unknownFile { color: #ffffff; }